body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

body p{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}